<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingo.server.database.dao.SpecDdzUserMapper">
    <resultMap id="BaseResultMap" type="com.bingo.server.database.model.DdzUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="desk_id" jdbcType="BIGINT" property="deskId"/>
        <result column="site" jdbcType="INTEGER" property="site"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="server_url" jdbcType="VARCHAR" property="serverUrl"/>
        <result column="site_url" jdbcType="VARCHAR" property="siteUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <insert id="addUser" parameterType="com.bingo.server.database.model.DdzUser">
        insert into DDZ_USER (id, desk_id, site,
        status, server_url, site_url,
        create_time, modify_time)
        select #{id,jdbcType=BIGINT}, #{deskId,jdbcType=BIGINT},
        (select count(DESK_ID) from DDZ_USER where DESK_ID = #{deskId,jdbcType=BIGINT}),
        #{status,jdbcType=VARCHAR}, #{serverUrl,jdbcType=VARCHAR}, #{siteUrl,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
        from DUAL
        where
        3 > (select count(DESK_ID) from DDZ_USER where DESK_ID = #{deskId,jdbcType=BIGINT})
    </insert>
</mapper>